.body-1{
	overflow: hidden;
}

.prt-1{
	position: absolute;
	left: 2000px;
	transition: 1s !important;
}
	

.prt-2{
	
	left: 150px;
	transition: 1s !important;
}

.prt-3{

	position: absolute;
	right: 2000px;
	transition: 1s !important;
}

/* responsive */

@media(max-width:768px){
	.prt-2{
		left: 100px;
		transition: 1s !important;
	}
	.prt-text-1{
		position: absolute;
		top:-300;
		opacity: 0;

	}

}



